<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            border: 1px solid black;
        }

        th, td {
            padding: 5px;
            border: 1px solid black;
        }

        tr {
            text-align: center;
        }

        form {
            text-align: center;
        }

    </style>
</head>
<body>
<table style="width: 100%; margin: 0 auto;">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">ID</td>
        <td th:utext="${user.getFirstName()}">Name</td>
        <td th:utext="${user.getLastName()}">LastName</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td>
            <a th:href="'/update?id='+${user.id}">Update</a>
            <a th:href="'/delete?id='+${user.id}">Delete</a>
        </td>
    </tr>
</table>
<br/>
<form>
    <a href="/addUser">Add new user</a>
</form>

</body>
</html>